<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cup">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.3631E-35 0.037704 5.3494E-19"
        rpy="0 0 0" />
      <mass
        value="0.35723" />
      <inertia
        ixx="0.00029697"
        ixy="1.5195E-36"
        ixz="1.7927E-37"
        iyy="0.00013074"
        iyz="6.3521E-21"
        izz="0.00029697" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cup/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://cup/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>