<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="spoon">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00053015 0.024906 1.4618E-09"
        rpy="0 0 0" />
      <mass
        value="1.026" />
      <inertia
        ixx="0.00042652"
        ixy="-8.6232E-06"
        ixz="1.3648E-10"
        iyy="0.0021739"
        iyz="1.8458E-11"
        izz="0.0021754" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spoon/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://spoon/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>